{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="margin-top: 2em">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="text-align: justify">
            You can choose <b>specific surveys</b>, where you can take part once and which help
            to generate insight about specific topics or you can answer <b>reoccurring questions</b>
            which help to continuously include feedback from the community.
        </div>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4 centering">
            <a href="{% url 'specific_survey' %}"><img class="category {% if available_survey_count == 0 %}not-available{% endif %}  img-responsive"  src="{% static 'img/specific_surveys.png' %}"></a>
             {% if available_survey_count == 1 %}
                <span style="font-size: 12px">You can take part in a survey.</span>
            {% elif available_survey_count > 1 %}
                <span style="font-size: 12px">You can take part in {{ available_survey_count }} surveys.</span>
            {% else %}
                <span style="font-size: 12px">Currently there are no surveys available.</span>
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 centering">
            <a href="{% url 'weekly_question' %}"><img class="category {% if weekly_question_count == 0 %}not-available{% endif %} img-responsive" src="{% static 'img/weekly_questions.png' %}"></a>
            {% if weekly_question_count == 1 %}
                <span style="font-size: 12px">You can answer {{ weekly_question_count }} question.</span>
            {% elif weekly_question_count > 1%}
                <span style="font-size: 12px">You can answer {{ weekly_question_count }} questions.</span>
            {% else %}
                <span style="font-size: 12px">Currently no questions to answer.</span>
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-top: 3em">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="text-align: justify">
            If you want to change your notification settings about receiving information on new surveys
            or when you are able to answer a weekly question again please check the settings page.
        </div>
    </div>
</div>
{% endblock %}

