<div class="row">
    <div class="col-xs-12" style="text-align: center">
        <h4>Likert question (4 point)</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-sm-offset-2">
        <div class="btn btn-success btn-block mtop">Very less</div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="btn btn-success btn-block mtop">Less</div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="btn btn-success btn-block mtop">Much</div>
    </div>
    <div class="col-xs-12 col-sm-2" >
        <div class="btn btn-success btn-block mtop">Very Much</div>
    </div>
</div>